<!-- ko with: home -->
<div class="jumbotron">
    <p><a href="" onclick="TAIDII_Sync.StudentsData()" class="btn btn-primary btn-lg">Sync</a> data from TAIDII to JAMIYAH.</p>
    <p id="result"></p>
    <p id="result-inv"></p>
    <p id="result-itms"></p>
    <p id="result-pays"></p>
</div>
<!-- /ko -->
